torch>=1.12.1+cu116
colorama>=0.4.6
gym>=0.21.0
numpy>=1.23.3
scipy>=1.9.1
torchvision>=0.13.1+cu116
matplotlib>=3.6.0
scikit-learn>=1.2.1
functorch>=0.2.1
scienceplots>=2.0.1
pyyaml>=6.0
pytorch-lightning>=1.7.7
tensorboard>=2.16
